[user]
	name = tmwatchanan
	email = tmwatchanan@users.noreply.github.com
	signingkey = F4D43507B7A7F4AC
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	pager = delta --paging=never
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[init]
	defaultBranch = main
[difftool]
	prompt = false
[diff]
    colorMoved = default
    tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
    conflictstyle = diff3
    tool = nvimmerge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimmerge"]
	; cmd = nvim -d $MERGED $REMOTE $LOCAL -c 'wincmd J | norm ]c'
	cmd = nvim -d $MERGED
[delta]
    navigate = true
	features = tokyonight
[include]
	path = ~/.config/delta/themes.gitconfig
[pull]
	rebase = true
[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
